*{
    box-sizing: border-box;
}

body{
    background-color: rgb(247, 191, 118);
    background-image: url(kepek/101dog.jpg);
    max-width: 1000px;
    width: 80%;    
    margin: auto; 
    text-align: justify;
}

main{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

header{
    text-transform: uppercase;
    height: 400px;
    background-image: url(kepek/snoopy.jfif);
}

header, nav, section, footer{
    background-color: rgb(89, 140, 197);
    border: 2px solid rgb(247, 9, 88);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color:rgb(255, 255, 255);
    margin-bottom: 20px;
   
}

section{
    width: 68%;
    float: left;
}

nav{
    float:right;
    width: 28%;
    
    
}
nav ul li a{
    display: block;
    padding: 10px;
    background-color: rgb(247, 9, 88);
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blanchedalmond;
}

footer{
    clear:both;
}


@media screen and (max-width:700px) {
    nav, section{
        float:none;
        width: 100%;
    }
    

}
ul{
    list-style-type: none;
    padding: 5px;
    
 
}
li{
    text-align: justify;   
    padding: 5px;   
}
h1,h2,h3{
    color: blanchedalmond;
    
}
table{
    border-collapse: collapse;
}
tr, th{
    border: solid 1px rgb(5, 161, 109);
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr 2fr 1fr;
    
}
th{
    padding-left: 10px;
    border-top: 1px;
    border-left: 2px solid rgb(5, 161,109);
    background-color:rgba(0, 255, 0, 0.35)
    
}
