*{
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

main{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

header{
    text-transform: uppercase;
    background-image: url("https://www.secondechance.org/uploads/anim/631afc21cf4cc922882385.jpeg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 400px;
    position: relative;
}

header h2{
    position: absolute;
    bottom: 20px;
    left:50px;
}

header, nav, section, footer{
    background-color: rgb(179, 172, 140);
    /*border: 2px solid rgb(16, 16, 16);*/
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color:white;
    margin-bottom: 20px;
    box-shadow: 0 0 5px 5px rgb(96, 86, 86);
}

section{
    width: 68%;
    float: left;
}

nav{
    float:right;
    width: 28%;
}

nav ul li{
    display:block;
}

footer{
    clear:both;
}


@media screen and (max-width:700px) {
    nav, section{
        float:none;
        width: 100%;
    }
    

}
ul{
    list-style-type: none;
    padding: 0;

}

nav ul li a{
    display: block;
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

nav ul li a:hover{
    background-color: azure;
    color: brown;
}

li{
    text-align: center;   /*a szöveg középen*/
    padding: 5px;   /* padding a szöveg távolsága a border-től*/
}

table{
    width: 90%;
    margin: 10px auto;
}

table, tr,td,th{
    border:solid 5px burlywood;
    border-collapse: collapse;

}
td img{
    width:100px;
}

th{
    border-top: 0;
    border-left: 2px dotted rosybrown;
    background-color: rgb(15, 197, 15);
}