*{
    box-sizing: border-box;
}

body{
    background-color: burlywood;
}

main{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
}

header{
    text-transform: uppercase;
}

header, nav, section, footer{
    background-color: darkgreen;
    border: 2px solid rgb(16, 16, 16);
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    color:white;
    margin-bottom: 20px;
}

section{
    width: 68%;
    float: left;
}

nav{
    float:right;
    width: 28%;
}

nav ul li{
    display:block;
}

footer{
    clear:both;
}


@media screen and (max-width:700px) {
    nav, section{
        float:none;
        width: 100%;
    }
    

}
ul{
    list-style-type: none;
    padding: 0;

}

nav ul li a{
    display: block;
    padding: 10px;
    background-color: brown;
    border-radius: 5px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: azure;
}

nav ul li a:hover{

}

li{
    text-align: center;   /*a szöveg középen*/
    padding: 5px;   /* padding a szöveg távolsága a border-től*/
}
table, tr,td,th{
    border:solid 5px burlywood;
    border-collapse: collapse;

}
td img{
    width:100px;
}

th{
    border-top: 0;
    border-left: 2px dotted rosybrown;
    background-color: rgb(15, 197, 15);
}